@model IEnumerable<AcademyHomework2.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h3>All Users</h3>

<div class="container" id="allUsersContainer">
    @foreach (var user in Model)
    {
    <div class="row" id="userProfile">
        <div class="col-md-3">
            <a id="allUserName" asp-action="GetUser" asp-route-id="@user.Id">
                @user.Name
            </a>
            <a id="allUserName" asp-action="GetUser" asp-route-id="@user.Id">
                <img class="avatar" id="allUsersAvatars" src="@user.Avatar" alt="img is not available" />
            </a>
        </div>
        </div>
    }
</div>