@model IEnumerable<(int, string)>

@{
    ViewData["Title"] = "Task3Result";
}

<h2>Task3Result</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var todo in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => todo.Item1)
            </td>
            <td>
                <a asp-action="GetTodo"
                   asp-route-id="@todo.Item1">@Html.DisplayFor(modelItem => todo.Item2)</a>
            </td>
        </tr>
}
    </tbody>
</table>
