body {
    
}

.infoContainer{
     margin-top: 25px;
}

.buttonsContainer{
    margin-top: 35px;
}

#registerDate{
    margin-top:30px;
    color:grey;
    margin-bottom: 30px;
    font-size: 85%;
}

#avatar {
    width: 15%;
    height: 15%;
}

.likes {
    font-size: 85%;
    float: right;
}

.date {
    float: right;
    margin-left: 35px;
    font-size: 85%;
}

#todoItem {
    font-size: 85%;
}

#todoName{
    font-size:150%;
}

#todoUser{
    margin-top:40px;
}